header {
  border: 1px solid #707070;
  h1 {
    font-size: 24px;
  }
  @media (max-width:575px) {
    h1 {
      font-size: 22px;
    }
  }
  ul {
    top: 28px;
    right: 85px;
    li {
      display: inline-block;
      color: #707070;
    }
  }
}
@media (max-width:575px) {
  header {
    ul {
      top: 18px;
      right: 26px;
    }
  }
  nav li a {
    width: 65px !important;
    white-space: nowrap !important;
    display: block !important;
  }
}