.index {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  .date {
    font-size: 20px;
  }
  
  .exhibition {
    .exhibition-image {
      width: 31.53153153153153%;
      img {
        width: 100%;
        height: auto;
      }
    }
    @media (max-width:575px) {
      .exhibition-image {
        width: 92%;
      }
      .exhibition-name {
        width: auto;
      }
    }
  
    .exhibition-price, .exhibition-description, .exhibition-date-pc {
      font-size: 20px;
    }
    @media (max-width:575px) {
      .exhibition-description {
        font-size: 16px;
      }
      .btn {
        width: 24.535%;
      }
    }
  
    @media (max-width:575px) {
      ul {
        margin-left: 0;
        margin-right: 0;
      }
    }
    li > div {
      width: 48.64864864864865%;
    }
    @media (max-width:575px) {
      li > div {
        width: 92%;
      }
    }
  
    .exhibition-date-pc {
      top: 40px;
      right: 24px;
    }
    .facebook-link {
      right: 39px;
      bottom: 50px;
    }
    .buy-ticket, .save-exhibition {
      width: 8.64864864864865%;
      bottom: 40px;
    }
    @media (max-width:575px) {
      .buy-ticket, .save-exhibition {
        width: 25.6%;
        bottom: 24px;
      }
    }
    .save-exhibition {
      left: 43.06306306306306%;
    }
    @media (max-width:575px) {
      .save-exhibition {
        left: 30.66666666666667%;
      }
    }
    @media (max-width:575px) {
      .buy-ticket {
        bottom: 24px;
      }
    }
  }
  
  @media (min-width: 576px) {
    .exhibition-review > div {
      background: url("../images/people2.png") no-repeat center center;
      background-size: cover;
    }
  }
  .exhibition-review > div > div {
    width: 40.09009009009009%;
    background-color: #190014CC;
    h3 {
      span:last-of-type {
        top: 38px;
      }
      span:last-of-type::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        width: 1px;
        height: 42px;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
    h4, p {
      font-size: 20px;
    }
    img {
      width: 32.24181360201511%;
      height: auto;
    }
    @media (max-width:575px) {
      p {
        font-size: 16px;
      }
      img {
        width: 43.0976430976431%;
      }
    }
    .btn {
      width: 31.46067415730337%;
      left: 24px;
      bottom: 40px;
    }
    @media (max-width:575px) {
      .btn {
        width: 40.57971014492754%;
      }
    }
  }
  @media (max-width:575px) {
    .exhibition-review > div > div {
      width: 92%;
    }
    .exhibition-review > div > div::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: url("../images/people2.png") no-repeat center center;
      background-size: cover;
    }
  }
}