ul {
  list-style-type: none;
}
@media (min-width: 576px) {
  .mobile {
    display: none;
  }
}

@media (max-width:575px) {
  .pc {
    display: none;
  }
}
@media (min-width: 576px) {
  .position-sm-absolute {
    position: absolute !important;
  }  
}